registry=https://nexus.united.cloud/repository/uc-npm/
@uc:registry=https://nexus.united.cloud/repository/uc-npm/
//nexus.united.cloud/repository/uc-npm/:_authToken=NpmToken.430a7df6-b71c-3f66-8dbd-34b766784f6d
//nexus.united.cloud/repository/uc-npm-local/:_authToken=NpmToken.430a7df6-b71c-3f66-8dbd-34b766784f6d
always-auth=true
